body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    color: white;
    background-color: #4C0099; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #B266FF , #4C0099);
}

header img{
    position: relative;
    top:-10px;
    float: right;
    width: 50px;
    height: 40px;
}

header {
    padding: 20px 20px;
    background-color: white;
    text-align: left;
    margin-bottom: 50px;
    box-shadow: 1px 1px 5px black;
}

header li{
    color: #000000;
    font-size: 150%;
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
}

header li a{
    text-decoration: none;
    color: #000000;
}

div#account{
    float: right; 
    padding: 10px 0;
}

div#Logo a{
    font-size: 150%;
    text-decoration: none;
    color: #f46d25;
    margin-right: 5px;
    margin-left: 5px;
}

.drop {
    background-color: #808080;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 300px;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
  }
  
  .dropdownSeizoen {
    position: relative;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  
  .dropdownSeizoen:hover .dropdown-content {
    display: block;
  }

  h1{
    text-align: center;
    text-shadow: 3px 2px 10px black;
}

.AfleveringContainer{
  margin-left: 30px;
  background: #999999;
  width: 300px;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
}

.AfleveringContainer p{
  padding-left: 10px;
  padding-bottom: 10px;
}

.slider-holder{
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 5px 7px black;
}

.image-holder{
    width: 2400px;
    height: 400px;
    clear: both;
    position: relative;
   
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image{
  width: 800px;
  height: 400px;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder{
    left: 0px;
}

#slider-image-2:target ~ .image-holder{
    left: -800px;
}

#slider-image-3:target ~ .image-holder{
    left: -1600px;
}

.button-holder{
    position: relative;
    top: -20px;
}

.slider-change{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #f46d25;
    box-shadow: 2px 2px 7px black;
}

.TextContainerMid{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.TextContainerRechts{

  width: 300px;
  margin-right: 30px;
}

.flexcontainer{
  display: flex;
}

