body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    color: white;
    background-color: #4C0099; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #B266FF , #4C0099);
}

header img{
    position: relative;
    top:-10px;
    float: right;
    width: 50px;
    height: 40px;
}

header {
    padding: 20px 20px;
    background-color: white;
    text-align: left;
    margin-bottom: 50px;
    box-shadow: 1px 1px 5px black;
}

header li{
    color: #000000;
    font-size: 150%;
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
}

header li a{
    text-decoration: none;
    color: #000000;
}

div#account{
    float: right; 
    padding: 10px 0;
}

div#Logo a{
    font-size: 150%;
    text-decoration: none;
    color: #f46d25;
    margin-right: 5px;
    margin-left: 5px;
}

label,
input {
    margin-left: 50px;
}

h1,
h2,
h3 {
    margin-left: 50px;
}